@media  (min-width:841px)and (max-width: 1200px) {
  *{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}
.container{
    width: 95% !important;
}
.row{
    width: 100%;
    float: left;
}
[class*="col-"] {
    float: left;
}
.btn{
  margin-top: 40px ;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 500;
  background: #643a79;
  padding: 15px 40px;
}
section{
    padding: 75px 0;
    text-align: center;
}

 .menu {
  float: right;   
 }
/*services*/

/*Team*/
#team img{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
/*Skills*/
#skills img{
    height: 200px;
    width: 180px;
}
/*Portfolio*/
#portfolio img{
    margin-top: 50px;
    height: 300px;
    width: 400px;
}
#portfolio p{
     color:#393939;
     margin-bottom: 40px;
}

/*about*/
#about{
    background: #d74680;
}
#about img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    text-align:right;
    margin-left: 55px;
}
.about-b{
    text-align: left;
}
.about-b .box{
    text-align: left;
    width: 25%;
    padding:35px 0;
    margin-right: -50px
}
.about-b p{
   font-style: italic;
   font-size: 24px;
   margin-top: 5px;
}
#about h4{
    color: #eb7d4b;
    font-weight:500 !important;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}
/*contact*/
#contact .sin-c{
  width: 48%;
  float: left;
  padding: 15px 0;
  margin-left: 10px !important;
}

/*footer*/
#footer ul li a{
  padding: 0 8px;
  font-size: 23px;
}
  }